.container {
    width: 100%;
    height: 100%;
    background: rgb(114, 237, 242);
    background: linear-gradient(90deg, rgba(114, 237, 242, 1) 0%, rgba(83, 88, 230, 1) 100%);
    overflow: hidden;
    overflow-y: hidden;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

.logo {
    position: relative;
    top: 3%;
    left: 1%;
}

.headerLogin {
    width: 100%;
    height: 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.headerLogin a {
    position: relative;
    top: 3%;
    right: 1%;
    text-decoration: none;
    outline: none;
    color: black;
    font-size: 30px;
}

.Login_Cubo {
    display: flex;
    flex-direction: column;
    height: 95%;
    width: 100%;
}

.LoginContainer {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    margin-right: 100px;
    padding-left: 10%;
}

.base {
    position: relative;
    width: 500px;
    height: 740px;
    background-color: #fff;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.cubo {
    position: fixed;
    background-color: transparent;
    top: -30%;
    right: 15%;
    width: 600px;
    height: 150%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.btns {
    position: absolute;
    top: -5%;
    width: 460px;
    height: 90px;
    border-radius: 10px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.btn {
    width: 150px;
    height: 50px;
    border-radius: 10px;
    border: none;
    font-size: 20px;
    font-weight: bold;
    transition: 0.3s ease-in;
    background-color: transparent;
    z-index: 1;
}

.btnOn {
    width: 150px;
    height: 50px;
    border-radius: 10px;
    border: none;
    font-size: 20px;
    font-weight: bold;
    transition: 0.3s ease-in;
    z-index: 1;
    background-color: #4D71FF;
    color: #fff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


.title {
    position: absolute;
    top: 15%;
    margin: 0 20%;
    font-size: 24px;
    font-weight: 400;
}

.base_form {
    position: relative;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
}

.telaCadastro {
    position: absolute;
    width: 350px;
    bottom: -80%;
}

.btnCadastro {
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    color: #000;
}

.alunoOn {
    position: relative;
    left: 232px;
    transition: .5s;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.alunoOff {
    position: relative;
    left: -750px;
    transition: .5s;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.profOn {
    position: relative;
    left: -232px;
    transition: .5s;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.profOff {
    position: relative;
    left: 500px;
    transition: .5s;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.div_title {
    position: absolute;
    right: 0;
    bottom: 20%;
    width: 1200px;
    height: 100px;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    z-index: 1;
    overflow: hidden;
}

.div_title a {
    position: absolute;
    font-family: "Cosi Azure";
    font-size: 50px;
    font-weight: 800;
    text-decoration: none;
    text-transform: uppercase;
    color: #fefefe00;
    -webkit-text-stroke: 1px #FFF;
    overflow: hidden;
}

.div_title span::before {
    width: 0;
    color: #fff;
    overflow: hidden;
    position: absolute;
    content: attr(data-text);
    transition: all 1s cubic-bezier(0.84, 0, 0.08, 0.99);
}

.div_title span:hover::before {
    width: 120%;
}


/* Tamanho de telas */

@media screen and (max-width:1800px) {
    .div_title {
        width: 1000px;
    }

    .div_title a {
        font-size: 45px;
    }

    .cubo {
        right: 12%;
    }

}

@media screen and (max-width:1673px) {
    .div_title {
        width: 900px;
    }

    .div_title a {
        font-size: 40px;
    }

    .cubo {
        right: 10%;
    }

}

@media screen and (max-width:1520px) {
    .div_title {
        width: 800px;
    }

    .div_title a {
        font-size: 35px;
    }
}


@media screen and (max-width:1520px) {
    .div_title {
        width: 800px;
    }

    .div_title a {
        font-size: 35px;
    }

    .cubo {
        right: 8%;
    }
}


@media screen and (max-width:1440px) {
    .div_title {
        width: 700px;
    }

    .div_title a {
        font-size: 30px;
    }

    .cubo {
        right: 4%;
    }
}

@media screen and (max-width:1300px) {
    .div_title {
        display: none;
    }

    .cubo {
        right: 2%;
    }
}

@media screen and (max-width:1200px) {
    .cubo {
        right: -2%;
    }
}

@media screen and (max-width:1150px) {
    .div_title {
        display: none;
    }

    .cubo {
        display: none;
    }

    .LoginContainer {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 0%;
    }

}


@media screen and (max-height:800px) {

    .telaCadastro {
        bottom: -70%;
    }

    .base {
        height: 700px;      
    }

    .div_title{ 
        bottom: 10%;
    }

}


@media screen and (max-height:750px) {

    .telaCadastro {
        bottom: -50%;
    }

    .base {
        height: 650px;      
    }

}

@media screen and (max-height:690px) {

    .telaCadastro {
        bottom: -40%;
    }

    .base {
        height: 600px;      
    }

}


@media screen and (max-height:650px) {

    .telaCadastro {
        bottom: -40%;
    }

    .base {
        height: 550px;      
    }

}